body {
	font-family: comic-sans-serif;
	color: white;
	background-color: black;
	position: relative;
}

#board {
	height: 600px;
	width: 602px;
	background-color: white;
	top: 30px;
  	left: 25%;
  	position: relative;
  	/*border: 2px solid yellow;*/
}

.box {
	height: 198px;
	width: 198px;
	background-color: black;
	/*border: 2px solid green;*/
	display: inline-block;
	margin-bottom: 3px;
}